.container {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    padding: 24px;
    width: 344px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
}

.top {
    margin-bottom: 24px;
}

.title {
    margin: 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: var(--text_main);
}

label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text_main);
}

.input {
    padding: 12px;  
    margin-bottom: 16px;
    width: 100%;
    color:  rgba(27, 31, 35, 1);
    border: 1px solid rgba(225, 227, 230, 1);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
}

.input::placeholder {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(171, 171, 171, 1);
    ;
}

.btns {
    margin-top: 8px;
}

.btnlogin {
    padding: 10px 16px;
    margin-right: 8px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background-color: var(--color_orange);
    color: var(--color_white);
}

.btnlogout {
    padding: 10px 16px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color_orange);
    border: 1px solid var(--color_orange);
}